
<h2>Dashboard</h2>
<hr>

<ul class="list-group ">
    
    <li routerLink="listalibros" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Lista de libros</li>
    <li  routerLink="listausuarios" routerLinkActive="active" class="list-group-item">Lista de usuarios</li>
    <li  routerLink="agregarusuario" routerLinkActive="active" class="list-group-item">Agregar usuario</li>
    <li  routerLink="agregarlibro" routerLinkActive="active" class="list-group-item">Agregar libro</li>
    
</ul>


