
.error-box {
    height: 100%;
    position: fixed;
    background: wheat;
    width: 100%; }
   
  
  .error-body {
    padding-top: 5%; }
    .error-body h1 {
      font-size: 210px;
      font-weight: 900;
     
      }
    .error-body a{
        color: white;
    }
  