<section class="main__cards-container">
    <div class="cards__title">
        <h1 *ngIf="cards.length>0">{{ titulo?'Resultados de ' + titulo: category|titlecase }}</h1>
        <button class="button" *ngIf="cards.length>0">Ver más</button>
    </div>
    <div class="cards__container">
        <div *ngFor="let card of cards; let indice=index">
            <app-card [card]="card"></app-card>
        </div>
    </div>
    <div  *ngIf="cards.length===0 && titulo.length>0" class="holamain">
        <div class="hit-the-floor">Sin resultados</div>
        <div class="ache">
            <h5 >Lo lamentamos, no hay registros de libros o autores con el termino buscado</h5>
        </div>
        <button class="buttonb" routerLink="/usercontent/main-view" >Volver a la pagina principal</button>
    </div>
</section>
