<section class="profile__main">
  <div class="profile__header"></div>
  <div class="profile__data">
    <img
      src="https://res.cloudinary.com/xizascloud/image/upload/v1625890509/prueba/piolin_eovqoy.png"
      alt="piolin"
    />
    <div class="data__container">
      <div class="data__item">
        <h2>Nombre:</h2>
        <h1>Xiza</h1>
      </div>
      <div class="data__item">
        <h2>Usuario:</h2>
        <h1>xiza73@gmail.com</h1>
      </div>
    </div>
  </div>
  <div class="profile__favorites">
    <app-favorites
      [params]="{
        idUser: '6121accb1822b61a58206cb6'
      }"
    ></app-favorites>
  </div>
</section>
