<!-- Aquí pruebas el diseño de tu componente v: (html, scss) -->
<!-- Dejar vacío luego de terminar >:v -->


<h3>Sobre Modulo auth</h3>
<ul>
  <li>
    <a routerLink="/auth/login">login </a>
  </li>
  <li>
    <a routerLink="/auth/register">register </a>
  </li>
  <!--  <li>
        <a routerLink="register">Register</a>
    </li> -->
</ul>

<h3>Sobre Modulo usuario</h3>

<ul>
  <li><a routerLink="/usercontent/perfil">contenido usuario/perfil</a></li>
  <li><a routerLink="/usercontent">contenido usuario</a></li>
</ul>
