<div>
  <div class="wave" style="height: 950px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M86.62,-10.36 C5.92,70.55 245.77,76.47 189.90,151.47 L0.00,150.00 L0.00,0.00 Z"
        style="stroke: none; fill: #f0ece3"
      ></path>
    </svg>
  </div>
  <div class="container">
    <div class="img">
      <img src="../../../../../assets/bg.svg" />
    </div>
    <div class="login-content">
      <form action="index.html" [formGroup]="miFormulario" (ngSubmit)="register()" >
        <img src="../../../../../assets/avatar.svg" />
        <h2 class="title">Registrate</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <!-- <h5>usuario</h5> -->
            <input
              type="text"
              class="input"
              id="nombre"
              formControlName="nombre"
              
              placeholder="nombre"
            />
          </div>
          
        </div>
        <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
          Campo obligatorio
        </span>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <!-- <h5>usuario</h5> -->
            <input
              type="text"
              class="input"
              id="apellido"
              formControlName="apellido"
            
              placeholder="apellido"
            />
          </div>
        </div>
        <span class="form-text text-danger" *ngIf="campoEsValido('apellido')">
          Campo obligatorio
        </span>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <!-- <h5>usuario</h5> -->
            <input
              type="text"
              class="input"
              id="usuario"
              formControlName="usuario"
          
              placeholder="usuario"
            />
          </div>
        </div>
        <span class="form-text text-danger" *ngIf="campoEsValido('usuario')">
          Campo obligatorio
        </span>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <!-- <h5>usuario</h5> -->
            <input
              type="email"
              class="input"
              id="correo"
              formControlName="correo"
              
              placeholder="correo"
            />
          </div>
        </div>
        <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
          Ingresa un correo
        </span>
        
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <!-- <h5>contraseña</h5> -->
            <input
              type="password"
              class="input"
              id="exampleInputPassword1"
              formControlName="contrasenia"
              placeholder="contraseña"
              
            />
          </div>
        </div>
        <span class="form-text text-danger" *ngIf="campoEsValido('contrasenia')">
          Campo obligatorio
        </span>
        
        <a class="nocuenta" routerLink='/auth/login'> Tienes cuenta?</a>
        <input type="submit"  class="btn" value="Login" />
      </form>
      
    </div>
  </div>
</div>

